---
---
  <nav>
    <ul>
    <li><a href=`${import.meta.env.BASE_URL}health`>Health</a></li>
    <li><a href=`${import.meta.env.BASE_URL}business`>Business</a></li>
    <li><a href=`${import.meta.env.BASE_URL}transportation`>Transportation</a></li>
    <li><a href=`${import.meta.env.BASE_URL}politics`>Politics</a></li>
    <li><a href=`${import.meta.env.BASE_URL}education`>Education</a></li>
    <li><a id='logout' href=`${import.meta.env.BASE_URL}business`>Logout</a></li>
    </ul>
  </nav>
